<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HsboStk.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HsboStk.Settings.hsboStockConnectionString" connectionString="Data Source=.;Initial Catalog=hsboStock;User ID=sa, password=sa"
            providerName="System.Data.SqlClient" />
        <add name="HsboStk.Settings.hsboStockConnectionString1" connectionString="Data Source=.;Initial Catalog=hsboStock;User ID=sa, password=sa"
            providerName="System.Data.SqlClient" />
        <add name="HsboStk.Settings.hsboStockConnectionString2" connectionString="Data Source=.;Initial Catalog=hsboStock;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="localhost_hsboStock_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=sa;initial catalog=hsboStock;Persist Security Info=true" />
        <add name="localhost_hsboStock_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=sa;initial catalog=hsboStock;Persist Security Info=true" />
        <add name="localhost_hsboStock_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=hsboStock;Persist Security Info=true" />
        <add name="localhost_hsboStock_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=hsboStock;Persist Security Info=true" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <HsboStk.Settings>
            <setting name="LastSkin" serializeAs="String">
                <value>Money Twins</value>
            </setting>
        </HsboStk.Settings>
    </userSettings>
</configuration>
